<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="footwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="footwear-link">
                <a href="" class="dropdown-item">Adidas</a>
                <a href="" class="dropdown-item ">Converse</a>
                <a href="" class="dropdown-item ">Fila</a>
                <a href="" class="dropdown-item">Nike</a>
                <a href="" class="dropdown-item">Vans</a>
                <a href="" class="dropdown-item">All Footwear</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Sunglasses</a>
                <a href="" class="dropdown-item">Watches</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Brand</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>